
/*exercicio1*/
justify-content: flex-end
/*exercicio2*/
justify-content: center
/*exercicio3*/
justify-content: space-around;
/*exercicio4*/
justify-content: space-between;
/*exercicio5*/
align-items: flex-end;
/*exercicio6*/
justify-content: center;
align-items: center;

/*exercicio7*/
justify-content: space-around;
align-items: flex-end;
/*exercicio8*/
/*exercicio9*/
/*exercicio10*/
/*exercicio11*/
/*exercicio12*/
/*exercicio13*/
/*exercicio14*/
/*exercicio15*/
/*exercicio16*/
/*exercicio17*/
/*exercicio6*/
/*exercicio6*/
/*exercicio6*/
/*exercicio6*/
/*exercicio6*/
/*exercicio6*/
